body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 60px; */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10000;
}

.navbar-title {
    text-align: center;
}

.navbar-title h1 {
    margin: 0;
    font-size: 24px;
    color: #9EB8A7;
    font-family: 'Pacifico', cursive;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 70vh;
    text-align: center;
}
  
a.cta-btn {
    display: inline-block;
    background-color: #DA3AC6;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
  
a.cta-btn:hover {
    background-color: #758FA0;
    color: #ffffff;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    z-index: 1001;
}
  
.hamburger-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    background-color: black;
    transition: 0.4s;
}
  
.side-panel {
    position: fixed;
    top: 56px;
    left: 0px;
    width: 250px;
    height: calc(100% - 56px);
    background-color: #ffffff;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: left 0.3s; 
    z-index: 80;
}

.side-panel p {
    margin: 0;
    padding: 8px 0;
}

.page-content {
    position: relative;
    z-index: 0;
    flex-grow: 1;
}

.add-address-btn {
    display: block;
    background-color: transparent;
    color: #F67280;
    text-decoration: none;
    border: 2px solid #F67280;
    border-radius: 5px;
    padding: 10px 0;
    margin: 20px auto; 
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: calc(100% - 40px);
    text-align: center;
}

.add-address-btn:hover {
    background-color: #F67280;
    color: #ffffff;
}

html, body, #map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search-input-container {
    position: fixed;
    top: 60px;
    left: 300px;
    z-index: 1000;
    width: calc(100% - 380px); 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: none;
}  
  
.address-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px);
}
  
.search-input-container {
    display: none;
}