body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -2;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 60px; */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10000;
}

.navbar-title {
    text-align: center;
}

.navbar-title h1 {
    margin: 0;
    font-size: 24px;
    color: #9eb8a7;
    font-family: "Pacifico", cursive;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 70vh;
    text-align: center;
}

a.cta-btn {
    display: inline-block;
    background-color: #da3ac6;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

a.cta-btn:hover {
    background-color: #758fa0;
    color: #ffffff;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    z-index: 1001;
}

.hamburger-bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    background-color: black;
    transition: 0.4s;
}

.side-panel {
    position: fixed;
    top: 56px;
    left: 0px;
    width: 250px;
    height: calc(100% - 56px);
    background-color: #ffffff;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: left 0.3s;
    z-index: 80;
}

.side-panel p {
    margin: 0;
    padding: 8px 0;
}

.page-content {
    position: relative;
    z-index: 0;
    flex-grow: 1;
}

.add-address-btn {
    display: block;
    background-color: transparent;
    color: #f67280;
    text-decoration: none;
    border: 2px solid #f67280;
    border-radius: 5px;
    padding: 10px 0;
    margin: 20px auto;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: calc(100% - 40px);
    text-align: center;
}

.add-address-btn:hover {
    background-color: #f67280;
    color: #ffffff;
}

html,
body,
#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

.search-input-container {
    position: fixed;
    top: 60px;
    left: 300px;
    z-index: 1000;
    width: calc(100% - 380px);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.address-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px);
}

#second-search-input-container {
    top: 130px !important; /* Adjust as needed */
}

.restaurant-panel {
    position: relative;
    width: 400px;
    height: calc(100% - 56px);
    position: fixed;
    top: 56px;
    right: 0;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: left 0.3s;
    z-index: 1000;
    display: none;
    overflow-y: auto;
}

.restaurant-content {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.restaurant-content h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
    font-family: "Roboto", sans-serif;
    color: #444;
}

.address {
    margin: 16px 0;
    color: #444;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.phone,
.rating,
.directions,
.hours {
    margin: 16px 0;
    font-size: 14px;
    color: #5f6368;
}

.reviews {
    font-size: 14px;
    color: #4285f4;
    text-decoration: underline;
}

.stars {
    color: #fbbc05;
}

.open,
.closed {
    display: inline-block;
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 8px;
}

.open {
    background-color: #188038;
}

.closed {
    background-color: #d93025;
}

.hours table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.hours table tr:nth-child(even) {
    background-color: #f8f9fa;
}

.hours table tr:nth-child(odd) {
    background-color: #ffffff;
}

.hours table td {
    padding: 8px 0;
    font-size: 14px;
}

.hours table td:first-child {
    font-weight: bold;
    width: 100px;
}

.hours td {
    padding: 5px 0;
}

.restaurant-image {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 4px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
    line-height: 1;
}

.close-btn:hover {
    color: #000;
}

.google-maps-link {
    margin-top: 15px;
}

.google-maps-link a {
    color: #4285f4;
    text-decoration: underline;
    font-size: 14px;
}

.google-maps-link a:hover {
    text-decoration: underline;
}

.reviews i {
    font-size: 12px; /* Adjust this value as needed */
}

.rating .label,
.hours .label {
    font-weight: bold;
}
