<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<div class="navbar">
    <button class="hamburger" onclick="toggleMenu()">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
    </button>
    <div class="side-panel" id="side-panel">
      <!-- Add your panel content here -->
      <p>Panel Content 1</p>
      <p>Panel Content 2</p>
      <p>Panel Content 3</p>
    </div>
    <div class="navbar-title">
        <h1>Meet Me Halfway</h1>
    </div>
</div>