<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Page</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  {% include 'navbar.html' %}
  <div class="page-content">
    <h1>Welcome to the New Page</h1>
    <p>This is the new page that the user navigates to after clicking the call-to-action button.</p>
  </div>
  <script>
    function toggleMenu() {
      const sidePanel = document.getElementById('side-panel');
      sidePanel.style.left = sidePanel.style.left === '0px' ? '-290px' : '0px';
    }
  </script>

</body>
</html>